.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
}
.logo{
    width: 100px;
    padding-left: 10px;
    
}
.nav-items > ul {
    list-style-type: none;
    display: flex;
}
.nav-items > ul >li{
    padding: 10px;
}
.card{
    width: 208px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
.card > img{
    width: 100%;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}
.search-container{
    display: flex;
    justify-content: center;
}
.search-input{
    width: 20%;
    padding: 10px;
}
.search-btn{
    width: 6%;
    padding: 10px;
}
.shimmer-card{
    width: 208px;
    height: 400px;
    background-color: lightgrey;
    margin: 20px;
}
.menu{
    display: flex;
}